<?xml version="1.0" encoding="UTF-8"?>

<settings>
    <techDataFile>C:\Users\Wes Hampson\Documents\NetBeansProjects\TimeKeeper\techData.xml</techDataFile>
    <adminApprovalEnabled>false</adminApprovalEnabled>
    <signoutDataFile>C:\Users\Wes Hampson\Documents\NetBeansProjects\TimeKeeper\signoutData.xml</signoutDataFile>
</settings>
